#c1 {
    margin: 2rem 4rem;
    padding: 1rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    text-align: center;
    background-color: #C0DBEA;
}

#h1 {
    font-family: 'DM Sans', sans-serif 'Inter', sans-serif;
    font-weight: 900;
    font-style: bold;
}

#p1 {
    font-family: 'DM Sans', sans-serif, 'Inter', sans-serif;
}

#publisher-author {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}